<!DOCTYPE html>
<html ng-app="timer">

  <head>
    <link data-require="bootstrap-css@3.1.1" data-semver="3.1.1" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css" />
    <script data-require="angular.js@*" data-semver="1.3.0-beta.5" src="https://code.angularjs.org/1.3.0-beta.5/angular.js"></script>
    <script src="script.js"></script>
  </head>

  <body class="timer container-fluid" ng-controller="TimerController">
    <div class="row timer-display">
      <div class="col-xs-12">
        <div class="block-center text-right">
          <div class="current-lap" timer-display="laps[0] ? count - laps[0].count : count"></div>
          <div class="time-elapsed" timer-display="count"></div>
        </div>
      </div>
    </div>
    <div class="row controls">
      <div class="col-xs-12 text-center">
        <button ng-show="!intervalPromise" class="btn-circle btn-circle-green" ng-click="start()">Start</button>
        <button ng-show="intervalPromise" class="btn-circle btn-circle-red" ng-click="stop()">Stop</button>
        <button ng-show="!intervalPromise" class="btn-circle" ng-click="reset()">Ableitung</button>
        <button ng-show="intervalPromise" class="btn-circle" ng-click="addLap()">Kreis</button>
      </div>
    </div>
    <div class="row laps">
      <div class="col-xs-12">
        <table class="table">
          <tbody>
            <tr ng-repeat="lap in laps">
              <td>Lap {{laps.length - $index}}</td>
              <td class="text-center" timer-display="lap.interval"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
  
</html>
